.main-footer_tabs {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0 0 2px 0;
  background: rgb(248, 246, 246);
  height: 50px;
}
.main-footer_tabs-item {
  align-self: flex-end;
  .iconfont {
    color: #999;
    padding: 6px;
  }
  a {
    text-decoration: none;
  }
}
.main-footer_tabs-item.actived {
  .iconfont {
    color: #fff;
    background: linear-gradient(to right, #ff5a4c, #ff1d11);
    border-radius: 50%;
  }
  .tabs-item_span {
    color: #ff1d11;
  }
}
.tabs-item_span {
  font-size: 12px;
  display: block;
  margin-top: 8px;
  color: #999;
}
