body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.cell-link {
  position: relative;
}
.cell-link::after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 1px 1px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
